@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --card-background: #e2e9eb;
  --foreground: #0a1d24;
  --nav-background: #fafeff90;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181c27;
    --card-background: #252d38;
    --foreground: #e8e5ea;
    --nav-background: #252d3890;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
